<div id="flashbanner"></div>
<div id="controls">
  <form method="get" action="/">
    Выделить проекты, содержащие: <input name="q" id="stop_words" value="<%= params[:q] %>" />
    <input type="checkbox" <%= 'checked="checked"' if params[:strict] %> id="strict" name="strict" value="1" /> <label for="strict">строгий поиск</label>
  </form>
</div>
<div id="projects"></div>
<div id="notifier"><a href="javascript:;" onclick="window.scroll(0, 0)">↑</a></div>
<div id="loader"></div>
<div id="sources">
  <% SOURCES.each do |source| %>
    <div><input type="checkbox" checked="checked" disabled="disabled" id="source_<%= source.name %>" /> <label for="source_<%=source.name%>"><%= source.desc %></label></div>
  <% end %>
  <div id="twitter"><a href="/twitter"><img src="/images/twitter.png" alt="" /></a></div>

  <div id="feedback">
    <% form_tag :feedback, :remote => true  do |f| %>
      <%= text_area_tag :feedback_message, @feedback.message, :onclick => "$(this).addClass('hover')"%><br/>
      <%= submit_tag 'Отправить' %>
    <% end %>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
    <% @projects.each do |project| %>
      appendProject(<%=raw project_json(project) %>);
    <% end %>
});
</script>



