<script type="text/javascript">
  window.first_id = <%= session[:first_id].to_i %>;
</script>
<a name="top"></a>

<div id="loader"></div>
<div id="flashbanner"></div>

<div id="leftbl">

<div id="projects">
  <%= will_paginate @projects %>
  <% @projects.reverse.each do |project| %>
    <div class="project" id="<%= project.id %>">
      <div id="projectop"></div>
      <h3><%=raw ( project.category != '' ? (project.category.title + ', ') : '' ) %><a href="<%= project.url %>"><%=raw project.title %></a></h3>
      <p>Фриланс-проект: <%=raw project.desc %></p>
      <div id="projectbottom"></div>
    </div>
  <% end %>
  <%= will_paginate @projects %>
</div>

</div>

<div id="content">
<div id="ris"></div>
<div id="namelogo">
<a href="/">Харумамбу.ру</a>
<div id="logo_txt" style="text-decoration:none">
Мы первыми собираем все фриланс-проекты интернета.
</div>
</div>

<div id="search">
<form action="/" method="get">
<p>Поиск по объявлениям:</p>
<input name="q" type="text" value="<%= params[:q]%>" id="stop_words" style="width:260px;" />

<input name="" type="image" src="/images/arrow.gif" width="38" hspace="22" style="position: relative; top: 4px; left: 270px;" />
<br /><br /><p>
  <input name="strict" type="radio" id="strict_0" value="0"  <%= 'checked="checked"' if params[:strict] && params[:strict].to_i == 0 %> /> <label for="strict_0">выделять</label>
  <input name="strict" type="radio" id="strict_1" value="1" <%= 'checked="checked"' if (params[:strict] && params[:strict].to_i == 1 || !params[:strict]) %> /> <label for="strict_1">найти</label>
  <input style="margin-left: 25px" type="checkbox" <%= 'checked="checked"' if session[:new_window] %> onclick="$.post('/settings', { 'key' : 'new_window', 'value' : this.checked ? 1 : '' })" id="new_window" /> <label for="new_window">открыть ссылки в новом окне</label>

</p>
</form>

    <script>
$().ready(function() {

    $('#categories').jqm({modal: true, trigger: '#categoriesTrigger'});
    $('#sources').jqm({modal: true, trigger: '#sourcesTrigger'});
});
    </script>
 

  <p><br/><br/>
  Вы можете <a href="#" id="categoriesTrigger" style="margin: 0 8px 0 8px">выбрать категории</a> или
  <a href="#" id="sourcesTrigger" style="margin: 0 8px 0 8px">выбрать биржи</a>
<br/><br/>

  <input type="checkbox" id="pause" /> <label for="pause">пауза</label>
  <br/><br/>
  Харумамбуру — проект с открытым <a href="http://github.com/golubeff/harumambu.ru">исходным кодом</a>.
</p>



<div id="categories" class="jqmWindow">
  <form method="post" action="/categories">
    <input type="hidden" name="redirect_to" value="<%= request.fullpath %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <a href="javascript:;" onclick="$('div.category').children('input').each(function(i, elem){elem.checked=true})" style="margin-right: 10px">Все</a>
    <a href="javascript:;" onclick="$('div.category').children('input').each(function(i, elem){elem.checked=false})">Ни одной</a>
    <div style="clear: both; margin-top: 15px"></div>
    <% Category.top.each do |category| %>
      <div class="category">
        <input type="checkbox" value="1" name="categories[<%= category.id %>]" <%= want_category?(category.id) ? 'checked="checked"' : '' %> id="category_<%= category.id %>" /> <label for="category_<%= category.id %>"><%= category.title %></label>
      </div>
    <% end %>
    <div style="clear: both">&nbsp;</div>
    <center><input type="submit" value="Ок" /> <input type="button" class="jqmClose" value="Закрыть" /></center>
  </form>
</div>

<div id="sources" class="jqmWindow">
    <a href="javascript:;" onclick="$('input.source').each(function(e, elem){elem.checked=true})">Все</a> 
    <a onclick="$('input.source').each(function(e, elem){elem.checked=false})" href="javascript:;">Ни одной</a>
    <br><br>
  <form method="post" action="/sources">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="hidden" name="redirect_to" value="<%= request.fullpath %>">
    <!--div id="sources_list" style="height: 141px; width: 200px; overflow-y: auto"-->
    <div id="sources_list">
      <% SOURCES.sort{|a,b| a.desc <=> b.desc}.each do |source| %>
        <div><input class="source" type="checkbox" <%= want_source?(source.name) ? 'checked="checked"' : '' %> id="source_<%= source.name %>" name="sources[<%= source.name %>]" value="1" /> <label for="source_<%=source.name%>"><img src="/images/icons/<%= source.name.underscore %>.gif" align="absmiddle" /> <%= source.desc %></label></div>
      <% end %>
    </div>
    
    <div style="clear: both">&nbsp;</div>

    <center><input type="submit" value="Применить" />
    <input type="button" class="jqmClose" value="Закрыть" /></center>
  </form>
</div>



  <div id="feedback" class="invisible">
    <h2>Написать</h2>
    <% form_tag :feedback, :remote => true  do |f| %>
      <%= text_area_tag :feedback_message, @feedback.message, :class => "hover"%><br/>
      <%= submit_tag 'Отправить' %>
      <input type="button" value="Отменить" onclick="$('#feedback').addClass('invisible');$('#contacts_lnk').show()">
    <% end %>
  </div>


</div>


<div id="copyright">
  
  На сайте чего-то не хватает? <a href="javascript:;" onclick="$('#feedback').removeClass('invisible');$('#feedback_message').focus()">напишите нам</a>.
  <a href="http://twitter.com/harumambu"><img src="/images/twitter.jpg" alt="" align="absmiddle" /></a>
  <a href="javascript:;" onclick="showRss()"><img src="/images/rss.gif" alt="" align="absmiddle"></a>
  
<br/>Идея — <a href="http://golubeff.ru/">Павел Голубев</a><br/>
Дизайн — Макс Вечеславов<br/>
Разработка — <a href="http://golubeff.ru/">Павел Голубев</a> и <a href="http://2530360.ru">2530360.ru</a><br/><br/>

</div>

<div id="arrow" onClick="window.location='#top'" style="cursor:pointer"></div>

</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#projects').html('');
    <% @projects.each do |project| %>
      appendProject(<%= render :partial => "projects/project.js", :object => project %>);
    <% end %>
    $('#categories').jqm();
});
</script>
