<script type="text/javascript">
  window.first_id = <%= session[:first_id].to_i %>;
</script>
<div id="flashbanner"></div>
<div id="controls">
  <form method="get" action="/">
    <select name="strict" id="strict">
      <option value="1">Найти</option>
      <option value="0" <%= 'selected="selected"' if params[:strict] && params[:strict].to_i == 0 %>>Выделять</option>
    </select> проекты, содержащие <input name="q" id="stop_words" value="<%= params[:q] %>" />
  </form>
  <input type="checkbox" <%= 'checked="checked"' if session[:new_window] %> onclick="$.post('/settings', { 'key' : 'new_window', 'value' : this.checked ? 1 : '' })" id="new_window" /> <label for="new_window">открыть ссылки в новом окне</label>
</div>
<div id="projects">
  <%= will_paginate @projects %>
  <% @projects.reverse.each do |project| %>
    <div class="project" id="<%= project.id %>">
      <h3><%=raw ( project.category != '' ? (project.category.title + ', ') : '' ) %><a href="<%= project.url %>"><%=raw project.title %></a></h3>
      <p>Фриланс-проект: <%=raw project.desc %></p>
    </div>
  <% end %>
  <%= will_paginate @projects %>
</div>
<div id="notifier">
  <strong><a href="/">Харумамбу.ру</a></strong>
  <p>Мы первыми собираем все фриланс-проекты интернета.</p>
  <p>Если вам не хватает каких-то функций на сайте, <a href="javascript:;" onclick="$('#feedback').removeClass('invisible');$('#feedback_message').focus()">напишите нам</a>.</p>
</div>
<div id="loader"></div>
<div id="categories" class="jqmWindow">
  <form method="post" action="/categories">
    <input type="hidden" name="redirect_to" value="<%= request.fullpath %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <a href="javascript:;" onclick="$('div.category').children('input').each(function(i, elem){elem.checked=true})" style="margin-right: 10px">Все</a>
    <a href="javascript:;" onclick="$('div.category').children('input').each(function(i, elem){elem.checked=false})">Ни одной</a>
    <div style="clear: both; margin-top: 15px"></div>
    <% Category.top.each do |category| %>
      <div class="category">
        <input type="checkbox" value="1" name="categories[<%= category.id %>]" <%= want_category?(category.id) ? 'checked="checked"' : '' %> id="category_<%= category.id %>" /> <label for="category_<%= category.id %>"><%= category.title %></label>
      </div>
    <% end %>
    <div style="clear: both">&nbsp;</div>
    <center><input type="submit" value="Ок" /> <input type="button" class="jqmClose" value="Закрыть" /></center>
  </form>
</div>
<div id="sources">
  <input type="checkbox" id="pause" /> <label for="pause">пауза</label><br/><br/>
  <a href="#" class="jqModal">Категории</a><br/><br/>
  <form method="post" action="/sources">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="hidden" name="redirect_to" value="<%= request.fullpath %>">
    <div id="sources_list" style="height: 141px; width: 200px; overflow-y: auto">
      <% SOURCES.sort{|a,b| a.desc <=> b.desc}.each do |source| %>
        <div><input class="source" type="checkbox" <%= want_source?(source.name) ? 'checked="checked"' : '' %> id="source_<%= source.name %>" name="sources[<%= source.name %>]" value="1" /> <label for="source_<%=source.name%>"><img src="/images/icons/<%= source.name.underscore %>.gif" align="absmiddle" /> <%= source.desc %></label></div>
      <% end %>
    </div>
    <br/><a href="javascript:;" onclick="$('input.source').each(function(e, elem){elem.checked=true})">Все</a> 
    <a onclick="$('input.source').each(function(e, elem){elem.checked=false})" href="javascript:;">Ни одной</a><br/>
    <br/><input type="submit" value="Применить" />
  </form>
  <div id="twitter">
    <a href="http://twitter.com/harumambu"><img src="/images/twitter.jpg" alt="" align="absmiddle" /></a>
  </div>

  <div id="feedback" class="invisible">
    <% form_tag :feedback, :remote => true  do |f| %>
      <%= text_area_tag :feedback_message, @feedback.message, :class => "hover"%><br/>
      <%= submit_tag 'Отправить' %>
      <input type="button" value="Отменить" onclick="$('#feedback').addClass('invisible');$('#contacts_lnk').show()">
    <% end %>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#projects').html('');
    <% @projects.each do |project| %>
      appendProject(<%= render :partial => "projects/project.js", :object => project %>);
    <% end %>
    $('#categories').jqm();
});
</script>
